{% extends "wiki/base.html" %}
{% load wiki_tags i18n sekizai_tags %}
{% load url from future %}

{% block wiki_pagetitle %}{{ article.current_revision.title }}{% endblock %}

{% block wiki_breadcrumbs %}
{% include "wiki/includes/breadcrumbs.html" %}
{% endblock %}

{% block wiki_contents %}

    {% addtoblock "js" %}
        <script type="text/javascript" src="{{ STATIC_URL }}wiki/js/bootstrap-lightbox.js"></script>
    {% endaddtoblock %}

        <div id="article-container">
            <ul class="nav nav-pills" id="article-menu">
              <li class="pull-left" id="article-title-li">

                  <small style="font-size: 14px;">
                    {% if urlpath.parent %}
                    <a href="{% url 'wiki:get' path=urlpath.path %}"><span class="icon-bookmark"></span> {{ article.current_revision.title }}</a>
                    {% endif %}
                    {% if article.current_revision.locked %}
                      <span class="icon-lock"></span> {% trans "locked" %}
                    {% endif %}
                  </small>

              </li>
              {% include "wiki/includes/article_menu.html" %}
            </ul>
            <h1 id="article-title">{{ article.current_revision.title }}</h1>
            <div>
              {% block wiki_contents_tab %}
              {% endblock %}
            </div>
        </div>
{% endblock %}

{% block wiki_footer_prepend %}
  <p style="margin-bottom: 10px;"><em>{% trans "This article was last modified:" %} {{ article.current_revision.modified }}</em></p>
{% endblock %}



