{% load sekizai_tags i18n wiki_tags static %}{% load url from future %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block wiki_pagetitle %}{% endblock %}{% block wiki_pagetitle_suffix %} - django-\/\/  i K |{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="www.django-wiki.org">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}wiki/bootstrap/css/wiki-bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}wiki/css/pygments.css" rel="stylesheet">
    {% block extra_css %}{% endblock %}
    {% render_block "css" %}
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    {% block wiki_body %}
    
    {% block wiki_navbar %}

    <div class="navbar navbar-fixed-top navbar-default">
      <div class="navbar-inverse" style="height:20px;">
          <div class="container">
          </div>
      </div>
      <div class="container">
        <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {% block wiki_header_branding %}
        <a class="navbar-brand" href="{% url 'wiki:root' %}">django-\/\/ i K |</a>
        {% endblock %}
        <div class="">

          <div class="pull-right-block-on-responsive">
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="badge notification-cnt">0</span>
                  {{ user }}
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" style="left:auto; right:0; left: auto; max-height: 400px; overflow: scroll;">
                  <li>
                    <a href="{% url 'wiki:logout' %}">
                      <i class="icon-off"></i>
                      {% trans "Log out" %}
                    </a>
                  </li>
                  {% include "wiki/plugins/notifications/menubaritem.html" %}
                </ul>
              </li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav">
              <li>
                <a href="{% login_url as wiki_login_url %}{{ wiki_login_url }}"><i class="icon-signin"></i> {% trans "Log in" %}</a>
              </li>
              <li>
                <a href="{% url 'wiki:signup' %}"><i class="icon-plus"></i> {% trans "Sign up" %}</a>
              </li>
            </ul>
            {% endif %}
          </div>
          <form class="navbar-form pull-right-block-on-responsive" id="wiki-search-form" method="GET" action="{% url 'wiki:search' %}">
            <div class="input-group">
              <input type="search" class="form-control search-query" name="q" placeholder="{% trans "Search..." %}" />
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <span class="icon-search"></span>
                </button>
              </span>
            </div><!-- /input-group -->
          </form>
          {% block wiki_header_navbar %}
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">{% trans "Home" %}</a></li>
            <li><a href="https://github.com/benjaoming/django-wiki" target="_blank">{% trans "About" %}</a></li>
          </ul>
          {% endblock %}
        </div>
      </div>
    </div>
    {% endblock %}
    <div class="horizontal-navigation">
    <div class="container">
    <!-- Reserved for breadcrumbs -->
      {% block wiki_breadcrumbs %}{% endblock %}

    </div>


    </div>
    <div class="container container-alert">
     {% if messages %}
        <!-- Messages for this instance -->
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} fade in">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="container no-padding-container">
      <!-- Main page contents go here -->
      {% block wiki_contents %}{% endblock %}
    </div>
    <div class="container">
      <footer id="wiki-footer">
        {% block wiki_footer %}
            <hr />
            {% block wiki_footer_logo %}
            {% endblock %}
            {% block wiki_footer_prepend %}
            {% endblock %}
            <p>{% blocktrans %}Powered by <a href="http://www.django-wiki.org">django-wiki</a>, an open source application under the <a href="http://www.gnu.org/licenses/quick-guide-gplv3.html">GPLv3</a> license. Let knowledge be the cure.{% endblocktrans %}</p>
            <div style="clear: both"></div>
        {% endblock %}
      </footer>

    </div> <!-- /container -->

    {% endblock %}

    <script src="{{ STATIC_URL }}wiki/js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}wiki/js/core.js"></script>
    <script src="{{ STATIC_URL }}wiki/bootstrap/js/bootstrap.min.js"></script>
    <!-- Optionally enable responsive features in IE8 -->
    <script src="{{ STATIC_URL }}wiki/js/respond.min.js"></script>
    {% render_block "js" %}
  
  </body>
</html>

