{% extends "wiki/base.html" %}
{% load wiki_tags i18n humanize %}
{% load url from future %}

{% block wiki_pagetitle %}{% trans "Search results for:" %} {{ search_query }}{% endblock %}

{% block wiki_contents %}

<h1 class="page-header">{% trans "Search results for:" %} {{ search_query }}</h1>

<form class="form-search directory-toolbar">
<p class="lead">

    <div class="input-group wiki-filter pull-right">
      {{ search_form.q }}
      <span class="input-group-btn">
         <button class="btn btn-default"><span class="icon-search"></span></button>
      </span>
    </div>

  <p>{% blocktrans with paginator.object_list.count as cnt %}Your search returned <strong>{{ cnt }}</strong> results.{% endblocktrans %}</p>
  <div class="clearfix"></div>
</p>
</form>

<table class="table table-striped">
  <tr>
    <th style="width: 75%">{% trans "Title" %}</th>
    <th>{% trans "Last modified" %}</th>
  </tr>
  {% for article in articles %}
    {% block wiki_search_loop %}
    {% include "wiki/includes/searchresult.html" %}
    {% endblock %}
    {% empty%}
    <tr>
      <td colspan="100">
        <em>{% trans "There are no articles in this level" %}</em>
      </td>
    </tr>
  {% endfor %}
</table>

{% include "wiki/includes/pagination.html" %}

{% endblock %}

