{% extends "wiki/article.html" %}
{% load wiki_tags i18n sekizai_tags %}


{% block wiki_contents_tab %}
    {% wiki_render article %}
{% endblock %}

{% block wiki_contents %}
    {% if article.get_cached_toc %}
        <div class="row" style="background: #eeeee6;">

            <div class="col-md-3" >
                <div class="bs-sidebar">
                <ul class="nav bs-sidenav">
                    <p class="toc-title">{{ article.current_revision.title }}</p>
                    {% for h1 in article.get_cached_toc %}
                        <li>
                          <a href="#{{ h1.id }}"><i class="icon icon-chevron-right" style="font-size: 9px; margin-right: 5px;"></i> {{ h1.name }}</a>
                            {% if h1.children %}
                                 <ul class="nav">
                                 {% for h2 in h1.children %}
                                     <li><a href="#{{ h2.id }}">&middot; {{ h2.name }}</a></li>
                                 {% endfor %}
                                  </ul>
                            {% endif %}

                        </li>
                  {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-9" style="background: white">
                {{ block.super }}
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-12" style="background: white">
                {{ block.super }}
            </div>
        </div>
    {% endif %}

{% endblock %}

