
.horizontal-navigation {
  width: 100%;
  margin-top: 0px;
  background-color: #f1f3f2;
  border-bottom: 1px solid #dcdcdc;
  border-top: 1px solid #dcdcdc;
  height: 40px;
  font-size: 13px;
  box-sizing: border-box;
}

.horizontal-navigation .btn {
    border:none;
    width: 38px;
    height:38px;
    border-radius: 0px;
    line-height: 24px;
}

.horizontal-navigation .btn-group > .btn-green {
    background-color: #58c582;
}

.horizontal-navigation .btn-group.open > .btn-green {
    background-color: #50be70;
}

.horizontal-dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    left:auto;
    right:0;
}


.horizontal-navigation .breadcrumb{
    margin-bottom:0px;
    background: none;
    padding: 11px 0px;
}


.horizontal-navigation .breadcrumb>li+li:before {
content: "";
    padding:0px;
}

.horizontal-navigation .breadcrumb .icon-chevron-right {
    color: #95a5a6;
    font-size: 8px;
    margin: 0px 15px;
}