{% load i18n %}

<!-- Modal -->
<div class="modal fade" id="wikiImagePluginModal" tabindex="-1" role="dialog" aria-labelledby="wikiImagePluginModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">{% trans "Insert image" %}</h4>
    </div>
    <div class="modal-body">
        <img class="img-thumbnail" id="wikiImagePluginThumbnail">
        <input type="hidden" id="wikiImagePluginImageId">
        <div style="display: table-row">
            <div style="display: table-cell; padding:10px">
                <strong>{% trans "Alignment" %}</strong>
            </div>
            <div style="display: table-cell; padding:10px">
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-primary active">
                    <input type="radio" name="wiki-images-plugin-alignment" value="" alt="{% trans "No alignment" %}" checked="checked"> <i class="icon icon-align-justify"></i>
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="wiki-images-plugin-alignment" value="left" alt="{% trans "Left alignment" %}"> <i class="icon icon-align-left"></i>
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="wiki-images-plugin-alignment" value="center" alt="{% trans "Centered alignment" %}"> <i class="icon icon-align-center"></i>
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="wiki-images-plugin-alignment" value="right" alt="{% trans "Right alignment" %}"> <i class="icon icon-align-right"></i>
                  </label>
                </div>
            </div>
        </div>
        <div style="display: table-row">
             <div style="display: table-cell; padding:10px">
                <strong>{% trans "Size" %}</strong>
             </div>
             <div style="display: table-cell; padding:10px">
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-primary">
                    <input type="radio" name="wiki-images-plugin-size" value="125" alt="{% trans "No alignment" %}" checked="checked"> 125px
                  </label>
                  <label class="btn btn-primary active">
                    <input type="radio" name="wiki-images-plugin-size" value="250" checked="checked" alt="{% trans "Left alignment" %}"> 250px
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="wiki-images-plugin-size" value="400" alt="{% trans "Centered alignment" %}"> 400px
                  </label>
                </div>             </div>
        </div>
        <div style="display: table-row">
             <div style="display: table-cell; padding:10px">
                <strong>{% trans "Caption" %}</strong>
             </div>
             <div style="display: table-cell; padding:10px">
                 <input type="text" class="form-control" name="wiki-images-plugin-caption" placeholder="{% trans "Optional caption..." %}">
             </div>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal" id="wikiImagePluginInsertButton">{% trans "Insert" %}</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->