{% load wiki_thumbnails i18n %}{% comment %}
  This template is used for the markdown extension that renders images and captions.
  
  NB! Watch out for line breaks, markdown might add <br />s and <p>s.
{% endcomment %}{% with image.current_revision.imagerevision as revision %}{% spaceless %}
<div>
  <div class="thumbnail{% if align %} pull-{{ align }}{% endif %}" style="max-width: {{ size|default:250|add:"10" }}px; text-align: center;">

      {% thumbnail revision.image size|default:"250" upscale=False format="PNG" as thumb %}
      <a href="#lightbox{{ revision.id }}" data-toggle="lightbox">
        <img src="{{ thumb.url }}" alt="{{ revision.get_filename }}" />
      </a>
      {% empty %}
      <div class="caption">
        <em>{% trans "Image not found" %}</em>
      </div>
    {% endthumbnail %}
    <div class="caption">
      {{ caption|safe }}
    </div>
  </div>

<div id="lightbox{{ revision.id }}" class="lightbox fade"  tabindex="-1" role="dialog" aria-hidden="true">
    <div class='lightbox-dialog'>
        <div class='lightbox-content'>
            <img src="{{ revision.image.url }}">
            <div class="lightbox-caption"><p>Your caption here</p></div>
        </div>
    </div>
</div>

</div>



{% endspaceless %}{% endwith %}
